<% @list.errors.present? %>
  <ul>
    <% @list.errors.each do |error, message| %>
      <li>
        <%= "#{error.capitalize}  #{message}" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @list do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>

  <%= f.label :due_date, "Due Date" %>
  <%= f.datetime_field :due_date, min: Time.now %>

  <%= f.label :note, "Note" %>
  <%= f.text_area :note %>

  <%= f.submit "Update"%>
<% end %>

<%= link_to  "Back to index", root_path %>