<h1>Lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= list.name %>
      <%= list.due_date %>
      <%= link_to  "Detail", list_path(list) %>
      <%= link_to  "Edit", edit_list_path(list) %>
      <%= link_to  "Destroy", list_path(list), method: :delete, data:{confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<%= link_to  "New List", new_list_path %>